{% extends 'layout.html' %} {% load static %}{% block body %}
<link href="{% static 'css/student.css' %}" rel="stylesheet">

<style>
    body {
        background-image: url('{% static "img/image7.jpg" %}');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="container emp-profile" style="height: auto; min-height:0;">

    <div class="row g-2">
        <div class="col-md-6 mt-4">
            <div class="profile-head">
                <h4>
                    <u>
                        {{title_model.title_name}}
                    </u>
                </h4>
                <p class="proile-rating">TOTAL VOTES : <span>{{title_model.total_vote}}</span></p>

                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>Note:</strong> {{ message }}
                    <i class='bx bxs-upvote bx-tada'></i>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}

            </div>
            {% if participants_model_ten %}
            <div class="col-md-4 border-primary">
                <div class="row" style="font-size: 12px;color:#818182;font-weight: 600;">
                    <p>TOP 10 PEOPLE:</p>
                    <ul class="list-group">
                        {% for i in participants_model_ten %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{i.student.name}}
                            <span class="badge bg-primary rounded-pill">{{i.stu_vote}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="col">

            <div class="tab-content  profile-tab">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col" style="overflow-y: scroll;">

                            <form class="row g-2 " method="post" action="{% url 'Register Vote' %}" style="min-height:0; max-height: 325px;">{% csrf_token %}
                                <input type="text" class="invisible" name="title_name" value="{{slug}}">
                                <div class="col-8">
                                    {% for i in student_model %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="student" id="{{i.name}}" value="{{i.slug}}" {% ifequal forloop.counter 1 %}checked{% endifequal %}>
                                        <label class="form-check-label" for="{{i.name}}">
                                          {{i.name}}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-3">Submit </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}