{% extends 'layout.html' %}{% load static %} {% block body %}
<link href="{% static 'css/student.css' %}" rel="stylesheet">

<div class="row row-cols-1 row-cols-md-3 g-4" style="margin: 10px;">
    {% for i in student_model %}
    <div class="col">
        <div class="card border-primary" style="width: 70%; border-radius: 10px;">
            <img class="card-img-top" style="border-radius: 10px;" src="{{i.profile_pic.url}}">
            <div class="card-body">
                <h5 class="card-title">{{i.name}} · {{i.class_stu}}</h5>
                <p class="card-text"><a class="nav-link btn btn-outline-primary" href="{% url 'Student Profile' slug=i.slug %}">Visit Profile</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="container">

</div>
<!-- ===Ends== -->
{% endblock %}